* {
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box; 
    font-family: 'Ubuntu' , sans-serif
}

#pic {
    width: 40%;
    
}
body{
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: black; 
    
}

h1 {
    color: white;
    margin: 10% 0%
}
h2 {
    color: white;
}
#section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15%;
    color: white;
}
#title1{
    font-size: 200%;
    padding: 2%;
    text-transform: uppercase;
    font-weight: 15%;
    margin: 20px 0px;

}
#info {
    font-size: 200%;
}
#button1{
    color: black; 
    font-size: 150%;
    margin: 20px 0px; 
    padding: 1%

}
#button2{
    color: black;
        font-size: 150%;
        margin: 20px 0px;
        padding: 1%
}
#pic2 {
    width: 50%;
    height: 70%;

}
header {
    background-color: white;
    width: 100%;
    top: 0; 
    left: 0; 
    right: 0; 
    height: 40px; 
    display: flex; 
    align-items: center;
    justify-content: center; 
}
header *{
    display: inline; 
}

header li{
    margin: 20px; 
}
header li a{
    text-decoration: none;
    color: black;

    
}
